<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker-cluster [imagePath]="'https://github.com/googlemaps/js-marker-clusterer/blob/gh-pages/images/m1.png?raw=true'">
        <agm-marker [latitude]="51.673858" [longitude]="7.815982"></agm-marker>
        <agm-marker [latitude]="51.678418" [longitude]="7.809007"></agm-marker>
         <agm-marker [latitude]="51.678408" [longitude]="7.808999"></agm-marker>
        <agm-marker [latitude]="50.678408" [longitude]="7.808999"></agm-marker>
    </agm-marker-cluster>


    <agm-marker-cluster [imagePath]="'https://github.com/googlemaps/v3-utility-library/blob/master/markerclusterer/images/m2.png?raw=true'">
        <agm-marker [latitude]="29.67808" [longitude]="4.808999"></agm-marker>
        <agm-marker [latitude]="21.67080" [longitude]="5.808999"></agm-marker>
        <agm-marker [latitude]="21.678408" [longitude]="4.808999"></agm-marker>
    </agm-marker-cluster>

  </agm-map>